body {
	position: relative;
}
[hidden] {
	display: none !important;
}
.edge-size {
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.success {
	color: green;
}
.fail {
	color: red;
}

#res-modal p {
	line-height: 30px;
	margin-bottom: 0px;
}

@media (max-width: 490px) {
	#flag {
		width: 100%;
	}
}
@media (max-width: 398px) {
	span.fs-4 {
		font-size: 17px !important;
		margin-right: 7px;
	}
	#answer {
		margin-bottom: 20px;
		text-align: center;
	}
	#basic-addon2 {
		padding: 3px 4px 3px 4px;
	}
	#details-area {
		flex-direction: column !important;
	}
}
